{
	"tabWidth": 4,
	"useTabs": true,
	"overrides": [
		{
			"files": ["*.sol"],
			"options": {
				"printWidth": 300
			}
		},
		{
			"files": ["*.ts"],
			"options": {
				"semi": false,
				"printWidth": 100
			}
		}
	]
}
